@font-face {
  font-family: Grotesk-Roman;
  src: url(/Fonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
  font-family: Grotesk-Medium;
  src: url(/Fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: Grotesk-Bold;
  src: url(/Fonts/NeueHaasDisplayBold.ttf);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Grotesk-Roman";
}

html, body{
  height: 100%;
  width: 100%;
}

#loader{
  height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -100%;
}

#loader h1{ 
  font-size: 2vw;
  color: transparent;
  font-family: "Grotesk-Medium";
  background: linear-gradient(to right, orange, orangered);
  position: absolute;
}

#loader h1{
  font-size: 4vw;
  color: transparent;
  background: linear-gradient(to right,orange,orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2){
  animation-delay: 2s;
}
#loader h1:nth-child(3){
  animation-delay: 3s;
}

@keyframes load {
  0%{
      opacity: 0;
  }
  10%{
      opacity: 1;
  }
  90%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}

@media (max-width:600px) {
  #loader h1{
      font-size: 9vw;
    
  }
}

#main{
  position: relative;
  z-index: 10;
}

.nav-link {
  text-decoration: none;
  color: inherit; 
}

.nav-link:hover {
  text-decoration: none; 
}


.page-1{
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  padding: 2vh 2vw;
}

nav{
  padding: 3vh 0vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}


.nav-items{
  display: flex;
  gap: 20px; 
} 

.nav-items h4{
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 50px;
  font-weight: 500;
  font-size: 17px;
  position: relative;
  color: rgba(0, 0, 0, 0.662);
  overflow: hidden;
  cursor: pointer; 
  transition: all ease 0.4s;
}

.nav-items h4::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
}

.nav-items h4 a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.662); 
  position: relative;
  z-index: 9;
}

.nav-items h4:hover a{
  color: white;
}

.nav-items h4:hover::after{
  bottom: 0;
  transition: all ease 0.4s;
  border-radius: 50px;
}

#menu a {
  display: none;
}

nav h3{
  display: none;
}

.Landing{
  height: 75vh;
  width: 100%;  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.445);
}

.Landing #left h3{
  width: 25vw;
  font-size: 1.7vw;
  line-height: 2vw;
  font-family: "Grotesk-Medium"; 
  padding-bottom: 8vh;
}

.Landing #right h2{  
  font-size: 10vw;
  line-height: 8vw;
  padding-bottom: 8vh;
  font-family: "Grotesk-Bold";
  text-align: right;
}

#hero-shape{
  position: absolute;
  width: 40vw;
  height: 55vh; 
  right: 0;
  top: 77vh;
}

#hero-1{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: orangered;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
}

#hero-2{ 
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: hwb(16 0% 0%);
  border-radius: 50%;
  filter: blur(20px);
  animation: animation2 3s linear 1s infinite alternate 
}

#hero-3{ 
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: orangered;
  border-radius: 50%;
  filter: blur(20px);
  animation-name: animation1;
  animation: animation1 3s linear 1s infinite alternate 
}

@keyframes animation1 {
  from{
    transform: translate(30%, -3%);
  }
  to{
    transform: translate(0%, 5%);
  }
}

@keyframes animation2 {
  from{
    transform: translate(5%, -5%);
  }
  to{
    transform: translate(-20%, 20%);
  }
}

.page-1 video{
  width: 100%;
  position: relative;
  border-radius: 20px;
  margin-top: 10vh;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  padding: 8vw 0;
  position: relative;
}


#moving-text h1{
  font-size: 9vw;
  display: inline-block;
}

.container #circle{
  width: 3.646vw;
  height: 3.646vw;
  border-radius: 50%;
  background-color: orangered;
  display: inline-block;
  margin: 1vw 2vw;
}

#moving-text{
  white-space: nowrap;
  overflow-x: auto;
}

.container{
  white-space: nowrap;
  display: inline-block;
  animation: move 11s linear  infinite;
}

#moving-text::-webkit-scrollbar{
  display: none;
}

#moving-text{
  scrollbar-width: none;
}

@keyframes move{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.page2-bottom{
  width: 100%;
  height: 80vh;
  /* background-color: rgb(133, 133, 133); */
  position: relative;
  z-index: 9;
  padding: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.page2-bottom #left h3{
  width: 55vw;
  line-height: 3vw;
  font-size: 4vw;
  position: relative;
  font-family: "Gilroy-Bold";
}

.page2-bottom #right{
  margin-top: 15vw;
  width: 20%;
}

.page2-bottom #right img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.page2-bottom #right p{
  font-weight: 200;
  margin-top: 2vw;
  font-size: 1vw;
}

.moving-circles #circle1{
  width: 30vw;
  height: 30vw;
  background-color: orangered;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 20%;
  filter: blur(20px);
  animation: animation3 3s linear 1s infinite alternate 
}

.moving-circles #circle2{
  width: 30vw;
  height: 30vw;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 25%;
  filter: blur(20px);
  animation: animation3 3s linear 1s infinite alternate 
}

@keyframes animation3 {
  from{
    transform: translate(5%, -5%);
  }
  to{
    transform: translate(-10%, 20%);
  }
}

/* Page3 */
#page3{
  width: 100%;
  min-height: 100vh;
  background-color: #EFEAE3;
  padding: 4vw 0;
}

#page3 .projects{
  display: none;
}

#page3 h1{
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 30px;
  font-size: 1.5vw;
  margin-bottom: 5vw;
}

#page3 #circle{
  width: 0.7vw;
  height: 0.7vw;
  background-color: #ff2d03;
  border-radius: 50%;
}


#page3 .elem{
  
  position: relative;
  width: 100%;
  height: 130px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.616);
  padding: 0 2vw;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 9;
  cursor: pointer;
  
}

.elem h2{
  font-size: 3.5vw;
  font-family: "Grotesk-Roman";

  position: relative;
  z-index: 9;
}

.elem #overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FF9831;
  left: 0;
  top: -100%;
  transition: all ease 0.2s;
}

.elem:hover #overlay{
  top: 0;
}



.fixed-image{
  position: fixed;
  width: 25vw;
  height: 30vw;
  background-color: #ff2d0300;
  border-radius: 20px;
  z-index: 99;
  left: 50vw;
  top: 10vw;
  display: none;
  background-size: cover;
  background-position: center;
  
}




#projects-btn h4{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 4vw 4vw;
  width: 8vw;
  border: 1px solid gray;
  border-radius: 50px;
  font-weight: 500;
  font-size: 17px;
  position: relative;
  color: rgba(0, 0, 0, 0.662);
  overflow: hidden;
  cursor: pointer; 
  transition: all ease 0.4s;
}

#projects-btn h4::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
}

#projects-btn h4 a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.662); 
  position: relative;
  z-index: 9;
}

#projects-btn h4:hover a{
  color: white;
}

#projects-btn h4:hover::after{
  bottom: 0;
  transition: all ease 0.4s;
  border-radius: 50px;
}

#page4{
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  padding: 10vw 2vw;
}

#page4 #top{
  background-color: #000000;
  display: flex;
  height: 100vh;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  margin-bottom: 30px;
  
}

#page4 #top #text-part{
  padding: 10vw 10vw;
  width: 70vw;
}

#text-part h2{
  font-size: 5vw;
  line-height: 5vw;
  /* padding-left: 8vw; */
  font-family: "Grotesk-Medium";
}

#text-part #headings{
  border-left: 1px solid gray;
  padding: 0 2vw;
}

#text-part p{
  padding: 2vw 0;
  width: 20vw;

}

#top img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

#page4 h4{
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 6vw;
  font-size: 1vw;
  font-family: "Grotesk-Roman";
  color: rgba(0, 0, 0, 0.588);
  margin-bottom: 5vw;
}

#page4 #circle{
  width: 0.7vw;
  height: 0.7vw;
  background-color: #ff2d03;
  border-radius: 50%;
}

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  width: 30%;
  border-left: 1px solid #aeadad;
  padding: 0 2vw;
}



.swiper-slide {
  width: 30%;
}



#page5{
  height: 100vh;
  width: 100%;
}

.footer{
  position: fixed;
  height: 105vh;
  width: 100%;
  padding: 0 2vw;
  background-color: #000;
  color: #fff;
  z-index: 9;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /* align-items: flex-end; */
}


.footer h1{
  font-size: 22.5vw;
  font-family: "Gilroy-Bold";
}

#footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6vw;
  width: 100%;
  height: 20vh;
  /* background-color: #ff2d03; */
  color: #fff;
}

#footer-top #left h2{
  font-size: 2.2vw;
  font-family: "Gilroy-Bold";
}

#footer-top #right{
  width: 20vw;
}

#footer-top #right h3{
  font-weight: 100;
  line-height: 2vw;
  
}

#footer-top #right input{
  margin-top: 10px;
  width: 100%;
  height: 5vh;
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid white;
  color: white;
}

#footer-bottom{
  width: 100%;
  border-top: 1px solid gray;
  padding: 2vw 0vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer-bottom a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/* Responsiveness */
@media (max-width: 600px) {
  .page-1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 1vh 6vw;
  }
  
  nav{
    padding: 2vh 0vw;
    background-color: #EFEAE3;

  }

  nav img{
    height: 3.5vh;
  }
  
  
  .nav-items{
    display: none;
  } 

  nav h3{
    display: block;
        padding: 2vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;

        cursor: pointer;
  }

  #menu-overlay{
      background-color: #00000079;
      height: 100vh;
      width: 100vw;
      z-index: 99;
      position: fixed;
      top: -100%;
      transition: all ease 0.3s;
  }

  #menu{
    width: 100vw;
    height: 40vh;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;

    padding: 38vw 8vw;
   
  }

  #menu a{
    text-decoration: none;
    color: black;
    font-size: 14vw;
    font-family: "Grotesk-Medium";
    display: flex;
    text-align: right;
    justify-content: flex-end;
    
  }

  /* Landing Page design */
  .Landing{
    height: 62vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding: 7vw 0vw;
    padding-bottom: 10vw;
    flex-direction: column-reverse;
    position: relative;
    z-index: 9;
  }
  
  .Landing #left h3{
    width: 85%;
        font-size: 5.5vw;
        line-height: 6vw;

  }
  
  .Landing #right h2{  
    font-size: 17vw;
    text-align: right;
    line-height: 15vw;
  }
  
  #hero-shape{
    position: absolute;
    width: 70%;
    height: 25vh; 
    right: 0;
    top: 55vh;
  }
  
  #hero-1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: orangered;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
  }
  
  #hero-2{ 
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-color: hwb(16 0% 0%);
    border-radius: 50%;
    filter: blur(20px);
    animation: animation2 3s linear 1s infinite alternate 
  }
  
  #hero-3{ 
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-color: orangered;
    border-radius: 50%;
    filter: blur(20px);
    animation-name: animation1;
    animation: animation1 3s linear 1s infinite alternate 
  }
  
  @keyframes animation1 {
    from{
      transform: translate(30%, -3%);
    }
    to{
      transform: translate(0%, 5%);
    }
  }
  
  @keyframes animation2 {
    from{
      transform: translate(5%, -5%);
    }
    to{
      transform: translate(-20%, 20%);
    }
  }

  .page-1 video {
    position: relative;
    border-radius: 15px;
    margin-top: 4vw;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    width: 92%;
    margin-left: 4%;
}

/* Page 2 Styles */


.page2-bottom{
  height: 90vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
}

.page2-bottom #left h3{
  width: 90%;
  line-height: 3vw;
  font-size: 8vw;
  line-height: 7vw;
  position: relative;
  font-family: "Gilroy-Bold";
}



.moving-circles #circle1{
  width: 70vw;
  height: 60vw;
  background-color: orangered;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 20%;
  filter: blur(20px);
  animation: animation3 3s linear 1s infinite alternate 
}

.moving-circles #circle2{
  width: 70vw;
  height: 60vw;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 25%;
  filter: blur(20px);
  animation: animation3 3s linear 1s infinite alternate 
}

.page2-bottom #right{
  margin-top: 10vw;
  width: 100%;
}

.page2-bottom #right img{
  width: 75%;
  border-radius: 10px;
}

.page2-bottom #right p{
  font-weight: 200;
        margin-top: 2vw;
        font-size: 3.5vw;
}


/* Page 3 */

#page3{
  width: 100%;
  min-height: 100vh;
  background-color: #EFEAE3;
  padding: 15vh 0vw;
}

#page3 h1{
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 10px;
  font-size: 4vw;
  margin-bottom: 5vw;
}

#page3 #circle{
  width: 1.5vw;
  height: 1.5vw;
  background-color: #ff2d03;
  border-radius: 50%;
}



#page3 .elem{
 display: none; 
}

#page3 .projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 4vw;
}


#page3 .projects img {
  width: 100%;
  height: 35vh;
  border-radius: 10px;
  object-fit: cover;
}

#page3 .projects h2 {
  font-size: 6vw;
  font-family: "Grotesk-Medium";
  margin: 10px 0;
}



#projects-btn h4{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 20px; */
  margin: 1vw 4vw;
  width: 130px;
  border: 1px solid gray;
  border-radius: 50px;
  font-weight: 500;
  font-size: 17px;
  position: relative;
  color: rgba(0, 0, 0, 0.662);
  overflow: hidden;
  cursor: pointer; 
  transition: all ease 0.4s;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  padding: 5vw 2vw; 
}

#page4 #top {
  background-color: #000000;
  display: flex;
  flex-direction: column; 
  height: 45vh; 
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  margin-bottom: 30px;
}

#page4 #top #text-part {
  padding: 5vw; 
  width: 100%; 
  text-align: left; 
}

#text-part h2 {
  font-size: 6vw; 
  line-height: 6vw; 
  font-family: "Grotesk-Medium";
  margin-bottom: 2vw;
}

#text-part #headings {
  padding-left: 3vw; 
  border-left: 5px solid #ff5500; 
  padding: 2vw 0 0 3vw; 
}

#text-part p {
  padding: 2vw 0;
  width: 80%; 
  font-size: 2.5vw; 
  line-height: 3vw; 
}

#top img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
  margin-top: auto;
  display: flex; 
  justify-content: flex-end;
}

#page4 h4 {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 6px;
  font-size: 2vw; 
  font-family: "Grotesk-Roman";
  color: rgba(0, 0, 0, 0.588);
  margin-bottom: 5vw;
}


#page4 h4{
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 6vw;
  font-size: 3.5vw;
  font-family: "Grotesk-Roman";
  color: rgba(0, 0, 0, 0.588);
  margin-bottom: 5vw;
  padding: 6vw 0;
}

#page4 #circle{
  width: 1.5vw;
  height: 1.5vw;
  background-color: #ff2d03;
  border-radius: 50%;
}

.swiper-slide {
  width: 60%;
}

#page5{
  height: 80vh;
  width: 100%;
}

.footer{
  position: fixed;
  height: 80vh;
  width: 100%;
  padding: 0 2vw;
  background-color: #000;
  color: #fff;
  z-index: 9;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /* align-items: flex-end; */
}


#footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6vw;
  width: 100%;
  height: 20vh;
  /* background-color: #ff2d03; */
  color: #fff;
}

#footer-top #left h2{
  font-size: 5vw;
  font-family: "Gilroy-Bold";
}

#footer-top #right{
  width: 40vw;
}

#footer-top #right h3{
  font-weight: 100;
  line-height: 4vw;
  
}

#footer-top #right input{
  margin-top: 8px;
  width: 100%;
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid white;
  color: white;
}

#footer-bottom a{
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

#footer-bottom p{
  font-size: 14px;
}

}





